<% include ./partials/header%>

<body>
    <!-- Nav tabs -->
    <% include ./partials/navbar%>
    <div class="container ">
        <table class="table paginated">
            <thead>
                <tr>
                    <th>borrow_id</th>
                    <th>date</th>
                    <th>deadline</th>
                    <th>qty</th>
                </tr>
            </thead>
            <tbody>
                <% results.forEach(function(result) { %>
                <tr>
                    <td><a href="/borrowDetail/<%=result.borrow_id%>" class="btn btn-primary btn-sm"><span class="badge badge-warning"><%= result.borrow_id %></span> | show detail</a>
                    <td><%= result.date %></td>
                    <td><%= result.deadline %></td>
                    <td><%= result.qty %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>

    </div>
</body>

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="/static/sc.js"></script>